span.flags-sprite {
  display: inline-block;
}

.flags-sprite, .flags-ad, .flags-ae, .flags-af, .flags-ag, .flags-ai, .flags-al, .flags-am, .flags-an, .flags-ao, .flags-ar, .flags-as, .flags-at, .flags-au, .flags-aw, .flags-ax, .flags-az, .flags-ba, .flags-bb, .flags-bd, .flags-be, .flags-bf, .flags-bg, .flags-bh, .flags-bi, .flags-bj, .flags-bm, .flags-bn, .flags-bo, .flags-br, .flags-bs, .flags-bt, .flags-bv, .flags-bw, .flags-by, .flags-bz, .flags-ca, .flags-catalonia, .flags-cc, .flags-cd, .flags-cf, .flags-cg, .flags-ch, .flags-ci, .flags-ck, .flags-cl, .flags-cm, .flags-cn, .flags-co, .flags-cr, .flags-cs, .flags-cu, .flags-cv, .flags-cx, .flags-cy, .flags-cz, .flags-de, .flags-dj, .flags-dk, .flags-dm, .flags-do, .flags-dz, .flags-ec, .flags-ee, .flags-eg, .flags-eh, .flags-england, .flags-er, .flags-es, .flags-et, .flags-europeanunion, .flags-fam, .flags-fi, .flags-fj, .flags-fk, .flags-fm, .flags-fo, .flags-fr, .flags-ga, .flags-gb, .flags-gd, .flags-ge, .flags-gf, .flags-gh, .flags-gi, .flags-gl, .flags-gm, .flags-gn, .flags-gp, .flags-gq, .flags-gr, .flags-gs, .flags-gt, .flags-gu, .flags-gw, .flags-gy, .flags-hk, .flags-hm, .flags-hn, .flags-hr, .flags-ht, .flags-hu, .flags-id, .flags-ie, .flags-il, .flags-in, .flags-io, .flags-iq, .flags-ir, .flags-is, .flags-it, .flags-jm, .flags-jo, .flags-jp, .flags-ke, .flags-kg, .flags-kh, .flags-ki, .flags-km, .flags-kn, .flags-kp, .flags-kr, .flags-kw, .flags-ky, .flags-kz, .flags-la, .flags-lb, .flags-lc, .flags-li, .flags-lk, .flags-lr, .flags-ls, .flags-lt, .flags-lu, .flags-lv, .flags-ly, .flags-ma, .flags-mc, .flags-md, .flags-me, .flags-mg, .flags-mh, .flags-mk, .flags-ml, .flags-mm, .flags-mn, .flags-mo, .flags-mp, .flags-mq, .flags-mr, .flags-ms, .flags-mt, .flags-mu, .flags-mv, .flags-mw, .flags-mx, .flags-my, .flags-mz, .flags-na, .flags-nc, .flags-ne, .flags-nf, .flags-ng, .flags-ni, .flags-nl, .flags-no, .flags-np, .flags-nr, .flags-nu, .flags-nz, .flags-om, .flags-pa, .flags-pe, .flags-pf, .flags-pg, .flags-ph, .flags-pk, .flags-pl, .flags-pm, .flags-pn, .flags-pr, .flags-ps, .flags-pt, .flags-pw, .flags-py, .flags-qa, .flags-re, .flags-ro, .flags-rs, .flags-ru, .flags-rw, .flags-sa, .flags-sb, .flags-sc, .flags-scotland, .flags-sd, .flags-se, .flags-sg, .flags-sh, .flags-si, .flags-sj, .flags-sk, .flags-sl, .flags-sm, .flags-sn, .flags-so, .flags-sr, .flags-st, .flags-sv, .flags-sy, .flags-sz, .flags-tc, .flags-td, .flags-tf, .flags-tg, .flags-th, .flags-tj, .flags-tk, .flags-tl, .flags-tm, .flags-tn, .flags-to, .flags-tr, .flags-tt, .flags-tv, .flags-tw, .flags-tz, .flags-ua, .flags-ug, .flags-um, .flags-us, .flags-uy, .flags-uz, .flags-va, .flags-vc, .flags-ve, .flags-vg, .flags-vi, .flags-vn, .flags-vu, .flags-wales, .flags-wf, .flags-ws, .flags-ye, .flags-yt, .flags-za, .flags-zm, .flags-zw, .flags-en {
  background-image: url('../../images/flags.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 11px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ad {
  background-position: 0 0;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ae {
  background-position: 0 -11px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-af {
  background-position: 0 -22px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ag {
  background-position: 0 -33px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ai {
  background-position: 0 -44px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-al {
  background-position: 0 -55px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-am {
  background-position: 0 -66px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-an {
  background-position: 0 -77px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ao {
  background-position: 0 -88px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ar {
  background-position: 0 -99px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-as {
  background-position: 0 -110px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-at {
  background-position: 0 -121px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-au {
  background-position: 0 -132px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-aw {
  background-position: 0 -143px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ax {
  background-position: 0 -154px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-az {
  background-position: 0 -165px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ba {
  background-position: 0 -176px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bb {
  background-position: 0 -187px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bd {
  background-position: 0 -198px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-be {
  background-position: 0 -209px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bf {
  background-position: 0 -220px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bg {
  background-position: 0 -231px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bh {
  background-position: 0 -242px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bi {
  background-position: 0 -253px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bj {
  background-position: 0 -264px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bm {
  background-position: 0 -275px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bn {
  background-position: 0 -286px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bo {
  background-position: 0 -297px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-br {
  background-position: 0 -308px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bs {
  background-position: 0 -319px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bt {
  background-position: 0 -330px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bv {
  background-position: 0 -341px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bw {
  background-position: 0 -352px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-by {
  background-position: 0 -363px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-bz {
  background-position: 0 -374px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ca {
  background-position: 0 -385px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-catalonia {
  background-position: 0 -396px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cc {
  background-position: 0 -407px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cd {
  background-position: 0 -418px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cf {
  background-position: 0 -429px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cg {
  background-position: 0 -440px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ch {
  background-position: 0 -451px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ci {
  background-position: 0 -462px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ck {
  background-position: 0 -473px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cl {
  background-position: 0 -484px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cm {
  background-position: 0 -495px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cn {
  background-position: 0 -506px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-co {
  background-position: 0 -517px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cr {
  background-position: 0 -528px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cs {
  background-position: 0 -539px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cu {
  background-position: 0 -550px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cv {
  background-position: 0 -561px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cx {
  background-position: 0 -572px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cy {
  background-position: 0 -583px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-cz {
  background-position: 0 -594px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-de {
  background-position: 0 -605px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-dj {
  background-position: 0 -616px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-dk {
  background-position: 0 -627px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-dm {
  background-position: 0 -638px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-do {
  background-position: 0 -649px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-dz {
  background-position: 0 -660px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ec {
  background-position: 0 -671px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ee {
  background-position: 0 -682px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-eg {
  background-position: 0 -693px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-eh {
  background-position: 0 -704px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-england {
  background-position: 0 -715px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-er {
  background-position: 0 -726px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-es {
  background-position: 0 -737px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-et {
  background-position: 0 -748px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-europeanunion {
  background-position: 0 -759px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fam {
  background-position: 0 -770px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fi {
  background-position: 0 -781px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fj {
  background-position: 0 -792px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fk {
  background-position: 0 -803px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fm {
  background-position: 0 -814px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fo {
  background-position: 0 -825px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-fr {
  background-position: 0 -836px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ga {
  background-position: 0 -847px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-en,
.flags-gb {
  background-position: 0 -858px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gd {
  background-position: 0 -869px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ge {
  background-position: 0 -880px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gf {
  background-position: 0 -891px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gh {
  background-position: 0 -902px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gi {
  background-position: 0 -913px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gl {
  background-position: 0 -924px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gm {
  background-position: 0 -935px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gn {
  background-position: 0 -946px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gp {
  background-position: 0 -957px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gq {
  background-position: 0 -968px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gr {
  background-position: 0 -979px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gs {
  background-position: 0 -990px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gt {
  background-position: 0 -1001px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gu {
  background-position: 0 -1012px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gw {
  background-position: 0 -1023px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-gy {
  background-position: 0 -1034px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-hk {
  background-position: 0 -1045px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-hm {
  background-position: 0 -1056px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-hn {
  background-position: 0 -1067px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-hr {
  background-position: 0 -1078px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ht {
  background-position: 0 -1089px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-hu {
  background-position: 0 -1100px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-id {
  background-position: 0 -1111px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ie {
  background-position: 0 -1122px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-il {
  background-position: 0 -1133px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-in {
  background-position: 0 -1144px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-io {
  background-position: 0 -1155px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-iq {
  background-position: 0 -1166px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ir {
  background-position: 0 -1177px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-is {
  background-position: 0 -1188px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-it {
  background-position: 0 -1199px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-jm {
  background-position: 0 -1210px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-jo {
  background-position: 0 -1221px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-jp {
  background-position: 0 -1232px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ke {
  background-position: 0 -1243px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kg {
  background-position: 0 -1254px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kh {
  background-position: 0 -1265px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ki {
  background-position: 0 -1276px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-km {
  background-position: 0 -1287px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kn {
  background-position: 0 -1298px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kp {
  background-position: 0 -1309px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kr {
  background-position: 0 -1320px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kw {
  background-position: 0 -1331px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ky {
  background-position: 0 -1342px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-kz {
  background-position: 0 -1353px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-la {
  background-position: 0 -1364px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lb {
  background-position: 0 -1375px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lc {
  background-position: 0 -1386px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-li {
  background-position: 0 -1397px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lk {
  background-position: 0 -1408px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lr {
  background-position: 0 -1419px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ls {
  background-position: 0 -1430px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lt {
  background-position: 0 -1441px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lu {
  background-position: 0 -1452px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-lv {
  background-position: 0 -1463px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ly {
  background-position: 0 -1474px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ma {
  background-position: 0 -1485px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mc {
  background-position: 0 -1496px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-md {
  background-position: 0 -1507px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-me {
  background-position: 0 -1518px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mg {
  background-position: 0 -1530px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mh {
  background-position: 0 -1541px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mk {
  background-position: 0 -1552px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ml {
  background-position: 0 -1563px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mm {
  background-position: 0 -1574px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mn {
  background-position: 0 -1585px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mo {
  background-position: 0 -1596px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mp {
  background-position: 0 -1607px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mq {
  background-position: 0 -1618px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mr {
  background-position: 0 -1629px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ms {
  background-position: 0 -1640px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mt {
  background-position: 0 -1651px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mu {
  background-position: 0 -1662px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mv {
  background-position: 0 -1673px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mw {
  background-position: 0 -1684px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mx {
  background-position: 0 -1695px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-my {
  background-position: 0 -1706px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-mz {
  background-position: 0 -1717px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-na {
  background-position: 0 -1728px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nc {
  background-position: 0 -1739px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ne {
  background-position: 0 -1750px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nf {
  background-position: 0 -1761px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ng {
  background-position: 0 -1772px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ni {
  background-position: 0 -1783px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nl {
  background-position: 0 -1794px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-no {
  background-position: 0 -1805px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-np {
  background-position: 0 -1816px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nr {
  background-position: 0 -1827px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nu {
  background-position: 0 -1838px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-nz {
  background-position: 0 -1849px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-om {
  background-position: 0 -1860px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pa {
  background-position: 0 -1871px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pe {
  background-position: 0 -1882px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pf {
  background-position: 0 -1893px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pg {
  background-position: 0 -1904px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ph {
  background-position: 0 -1915px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pk {
  background-position: 0 -1926px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pl {
  background-position: 0 -1937px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pm {
  background-position: 0 -1948px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pn {
  background-position: 0 -1959px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pr {
  background-position: 0 -1970px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ps {
  background-position: 0 -1981px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pt {
  background-position: 0 -1992px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-pw {
  background-position: 0 -2003px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-py {
  background-position: 0 -2014px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-qa {
  background-position: 0 -2025px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-re {
  background-position: 0 -2036px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ro {
  background-position: 0 -2047px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-rs {
  background-position: 0 -2058px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ru {
  background-position: 0 -2069px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-rw {
  background-position: 0 -2080px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sa {
  background-position: 0 -2091px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sb {
  background-position: 0 -2102px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sc {
  background-position: 0 -2113px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-scotland {
  background-position: 0 -2124px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sd {
  background-position: 0 -2135px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-se {
  background-position: 0 -2146px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sg {
  background-position: 0 -2157px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sh {
  background-position: 0 -2168px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-si {
  background-position: 0 -2179px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sj {
  background-position: 0 -2190px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sk {
  background-position: 0 -2201px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sl {
  background-position: 0 -2212px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sm {
  background-position: 0 -2223px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sn {
  background-position: 0 -2234px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-so {
  background-position: 0 -2245px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sr {
  background-position: 0 -2256px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-st {
  background-position: 0 -2267px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sv {
  background-position: 0 -2278px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sy {
  background-position: 0 -2289px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-sz {
  background-position: 0 -2300px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tc {
  background-position: 0 -2311px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-td {
  background-position: 0 -2322px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tf {
  background-position: 0 -2333px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tg {
  background-position: 0 -2344px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-th {
  background-position: 0 -2355px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tj {
  background-position: 0 -2366px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tk {
  background-position: 0 -2377px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tl {
  background-position: 0 -2388px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tm {
  background-position: 0 -2399px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tn {
  background-position: 0 -2410px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-to {
  background-position: 0 -2421px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tr {
  background-position: 0 -2432px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tt {
  background-position: 0 -2443px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tv {
  background-position: 0 -2454px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tw {
  background-position: 0 -2465px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-tz {
  background-position: 0 -2476px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ua {
  background-position: 0 -2487px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ug {
  background-position: 0 -2498px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-um {
  background-position: 0 -2509px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-us {
  background-position: 0 -2520px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-uy {
  background-position: 0 -2531px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-uz {
  background-position: 0 -2542px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-va {
  background-position: 0 -2553px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-vc {
  background-position: 0 -2564px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ve {
  background-position: 0 -2575px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-vg {
  background-position: 0 -2586px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-vi {
  background-position: 0 -2597px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-vn {
  background-position: 0 -2608px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-vu {
  background-position: 0 -2619px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-wales {
  background-position: 0 -2630px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-wf {
  background-position: 0 -2641px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ws {
  background-position: 0 -2652px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-ye {
  background-position: 0 -2663px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-yt {
  background-position: 0 -2674px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-za {
  background-position: 0 -2685px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-zm {
  background-position: 0 -2696px;
}

/* line 84, ../../../../../../../../.gem/ruby/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.flags-zw {
  background-position: 0 -2707px;
}
