<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/Distilleries</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tests/report" lowUpperBound="35" highLowerBound="70"/>
    </logging>
    <php>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="APP_KEY" value="base64:7r+wTJHvCpNKVHCiaR+14SfVKc1rylORge6t/dRu3HU="/>
    </php>
</phpunit>
