@import "global/plugins";
@import "global/components";
@import "global/flags";
@import "admin/layout/layout";
@import "admin/pages/login3";
@import "admin/pages/error";
@import "admin/components/_form";

.form-inline {
  display: inline;
}

.login-form {
  .form-control {
    padding-left: 30px;
  }

  .col-md-3,
  .col-md-4 {
    width: auto;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }

}